.filter {
  width: 100%;
  @media screen and (max-width: 787px) {
    width: 100%;
  }
  & > h3 {
    background-color: #333333;
    color: white;
    text-align: left;
    padding: 1rem;
  }
  .filter-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2%;
    width: 96%;
    & > p {
      text-align: left;
      letter-spacing: 1px;
      cursor: pointer;
      &:first-child {
        margin-right: 1rem;
      }
    }
  }
  .text-focus {
    font-weight: 600;
    color: black;
  }
}
