.modal-thanks-bask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
  max-width: 500px;
  text-align: center;
  button {
    background: transparent;
    color: black;
    padding: .8rem 2.6rem;
    font-size: .8em;
    text-transform: uppercase;
    border: 1px solid #333333;
    border-radius: 3px;
    margin-top: .8rem;
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
    width: 14rem;
    &:hover {
      background: #333333;
      border: 1px solid #333333;
      color: white;
    }
  }
}