.modal-form-bask {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin-bottom: 2rem;
  width: 18rem;
  & > h2 {
    text-align: center;
  }
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > label {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      width: 100%;
      & > input {
        padding: .4rem .5rem;
        border: 0;
        outline: none;
        border-bottom: 1px solid #5E5E5E;
      }
      & > p {
        margin-bottom: 0;
      }
    }
    & > label {
      & > input:focus {
        border-bottom: 1px solid black;
      }
      & > p:focus {
        color: black;
        font-weight: 800;
      }
    }
  }
  button {
    background: transparent;
    color: black;
    padding: .8rem 2.6rem;
    font-size: .8em;
    text-transform: uppercase;
    border: 1px solid #333333;
    border-radius: 3px;
    margin-top: .8rem;
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
    width: 12rem;
    &:hover {
      background: #333333;
      border: 1px solid #333333;
      color: white;
    }
  }
}