@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

p,
label {
  font-family: "Raleway";
  color: #5e5e5e;
  letter-spacing: 1px;
}

.react-responsive-modal-modal {
  max-width: 600px !important;
  border-radius: 4px;
  width: 75%;
  margin: 10%;
}

button {
  outline: none;
}
